# Pinning dependencies because:
# - https://www.theverge.com/2022/1/9/22874949/developer-corrupts-open-source-libraries-projects-affected
# - https://maxleiter.com/blog/pin-dependencies
save-exact=true